*{
    padding: 0;
    margin: 0;
}
#login, .connect_db{
     width: 500px;
     margin-top: 10%;
  }
  #table-nav{
      margin: 0;
      float: left;
      width: 100px;
      height: auto;
      background-color:#265a88;
      border-radius: 10px;
   }
  #table-nav ul{
      list-style: none;
  }
  #table-nav ul li{
      padding: 5px 0;
  }
  #table-nav ul li a{
      color: white;
       line-height: 20px;
      padding: 5px 10px;
  }
  #table-nav ul li a:hover{
     text-decoration: white;
  }
  #login, .connect_db{
     max-width: 500px;
     width: 100%;
     margin-top: 10%;
  }
  
  #import{
       width: 600px;
       float: left;
       height: 180px;
       background-color:buttonface;
        margin-left: 10%;
        padding: 20px;
        border-radius: 10px;
   }
   #preview-data{
       width: 100%;
       margin: 10px;
       margin-left: 0;
       height: 400px;
       background-color: background;
       
   }
   h1,h2,h3,h4,h5{
       margin: 0;
       padding: 0;
   }